.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, #000, #000, 0.5);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  font-family: "Inter", Arial, sans-serif;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-repeat: none;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  height: 40px;
  width: 40px;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
}

.modal__close:hover {
  cursor: pointer;
}

.modal__header {
  font-size: 24px;
  font-weight: bold;
  line-height: 29.05px;
  max-width: 330px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal__form {
  display: grid;
  width: 385px;
  margin-top: 54px;
}

.form__input_name {
  border: none;
  border-bottom: 1px solid #000;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.form__input_occupation {
  margin-top: 29.75px;
  border: none;
  border-bottom: 1px solid #000;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.modal__button {
  margin-top: 48px;
  background-color: black;
  color: white;
  height: 50.15px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21.78px;
  border-radius: 2px;
  border: none;
}

.modal__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .modal__container {
    max-width: 282px;
  }
  .modal__close {
    top: -50px;
    left: 280px;
    height: 26px;
    width: 26px;
  }
  .modal__header {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__button {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
  }
  .modal__form {
    max-width: 238px;
    margin: 0;
  }
  .form__input_name {
    max-width: 238px;
  }
  .form__input_occupation {
    max-width: 238px;
  }
}
