.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  font-family: "Inter", Arial, sans-serif;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  padding: 25px 22.5px 25px 22.5px;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  height: 40px;
  width: 40px;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__header {
  font-size: 24px;
  font-weight: bold;
  line-height: 29.05px;
  max-width: 330px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal__form {
  display: grid;
  width: 385px;
  margin-top: 54px;
}

.modal__form-input {
  border: none;
  border-bottom: 1px solid rgba(0 0 0 / 0.2);
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.modal__form-input:last-of-type {
  margin-top: 29.75px;
}

.modal__button {
  margin-top: 48px;
  background-color: black;
  color: white;
  height: 50.15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  border-radius: 2px;
  border: none;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  /* opacity: 0; */
  transition: opacity 0.3s;
}

@media screen and (max-width: 660px) {
  .modal__container {
    padding: 16px 22px 16px 22px;
  }
  .modal__close {
    top: -50px;
    left: unset;
    right: 0;
    height: 26px;
    width: 26px;
  }
  .modal__header {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__button {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
  }
  .modal__form {
    max-width: 238px;
    margin: 0;
  }
  .modal__form-input {
    max-width: 238px;
  }
}
